{% load static %}
    <!-- Testimonials Section -->
    <section id="testimonials" class="testimonials section">
      <div class="container text-center mb-5" data-aos="fade-up">
    <h1 class="display-5 fw-bold">Biz haqqimizda pikirler</h1>
  </div>

      <div class="container">

        <div class="row gy-4">
          {% for item in testimonials %}
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <div class="testimonial-item">
              {% if item.image %}
              <img src="{{ item.image.url }}" class="testimonial-img" alt="{{ item.name }}">
              {% else %}
              <img src="{% static 'assets/img/default-user.webp' %}" class="testimonial-img" alt="Default User">
              {% endif %}
              <h3>{{ item.name }}</h3>
              <h4>{{ item.position }}</h4>
              <div class="stars">
                <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i>
              </div>
              <p>
                <i class="bi bi-quote quote-icon-left"></i>
                <span>{{ item.feedback }}</span>
                <i class="bi bi-quote quote-icon-right"></i>
              </p>
            </div>
          </div>{% empty %}<!-- End testimonial item -->
          <div class="col-12 text-center">
        <p>Hazirshe pikirler joq.</p>
      </div>
      {% endfor %}
        </div>
      </div>
    </section><!-- /Testimonials Section -->
